.container {
    max-width: 800px;
}

.item-overlay {
    height: 100%;
    width: 100%;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
}

.modal-dialog {
    position: relative;
    bottom: -75%;
}

